@model IEnumerable<Services.Entities.Medic>

@{
    ViewData["Title"] = "SeeTheYoungestStaff";
}


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeSpecializare)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeSpecializare)
            </td>


        </tr>
}
    </tbody>
</table>
