@model IEnumerable<Services.Entities.Servicii>

@{
    ViewData["Title"] = "Index";
}



<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pret)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pret)
            </td>
            <td>
              
                <a asp-controller="Medic" asp-action="SeeAllMedicsByServiciuId" asp-route-id="@item.Id">Medici</a> 
      
            </td>
        </tr>
}
    </tbody>
</table>
